# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# --- Entornos de Conda (por si acaso) ---
.conda/
.anaconda/

# --- Editores (VS Code) ---
.vscode/
.history/

# --- Sistema Operativo (Linux/Ubuntu) ---
.DS_Store
.directory
*~
*.swp

# --- Herramientas de Test y Logs ---
.pytest_cache/
logs/